@charset "UTF-8";
html {
  color: #000;
  font-size: 16px; }

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0; }

.row {
  width: 100%;
  height: auto;
  margin: 0 auto 10px;
  position: relative; }
  .row .module-wrapper {
    margin-bottom: 10px; }

.row-full {
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e8e8e8;
  background: #ffffff;
  z-index: 99; }
  .row-full .col-full {
    width: 100%; }

.row-full-foot {
  width: 100%;
  height: 44px;
  margin: 0 auto;
  background: #eee; }
  .row-full-foot .col-full {
    width: 100%;
    height: 100%; }

.row-1200 {
  width: 1200px; }

.row-600-300 {
  width: 920px;
  margin: 10px auto; }
  .row-600-300 .col-600 {
    width: 600px;
    height: auto;
    float: left; }
  .row-600-300 .col-300 {
    width: 300px;
    height: auto;
    float: left;
    margin-left: 20px; }

.row-800-300 {
  width: 1120px;
  margin: 10px auto; }
  .row-800-300 .col-800 {
    width: 800px;
    height: auto;
    float: left; }
  .row-800-300 .col-300 {
    width: 300px;
    height: auto;
    float: left;
    margin-left: 20px; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  /* 触发 hasLayout */
  zoom: 1; }
