@import './global.scss';
html {
    color: #000;
    font-size: 16px
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
margin: 0;
padding: 0
}
.row {
    width: 100%;
    height: auto;
    margin: 0 auto $margin-h;
    position: relative;
    .module-wrapper {
        margin-bottom: $margin-h;
    }
}
.row-full { // 100%宽度容器
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $border;
    background: $bg-light;
    z-index: 99;
    .col-full {
        width: 100%;
    }
}
.row-full-foot {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    background: $bg-dash;
    .col-full {
        width: 100%;
        height: 100%;
    }
}
.row-1200 {
    width: 1200px;
}
.row-600-300 {
    width: 920px;
    margin: $margin-h auto;
    .col-600 {
        width: 600px;
        height: auto;
        float: left;
    }
    .col-300 {
        width: 300px;
        height: auto;
        float: left;
        margin-left: 20px;
    }
}
.row-800-300 {
    width: 1120px;
    margin: $margin-h auto;
    .col-800 {
        width: 800px;
        height: auto;
        float: left;
    }
    .col-300 {
        width: 300px;
        height: auto;
        float: left;
        margin-left: 20px;
    }
}
.clearfix:after{
    content: " "; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
    }
  
.clearfix {
/* 触发 hasLayout */ 
zoom: 1; 
}