$warm: #f0baee;
$warm-light: #efd1ee;
$cold: #b5edb3;
$cold-dark: #589256;
$bg-light: #ffffff;
$bg-dash: #eee;
$font-dark: #000;
$font-def: #999999;
$font-light: rgb(199, 195, 195);
$font-white: #ffffff;
$margin: 15px;
$margin-v: 10px;
$margin-h: 10px;
$border: #e8e8e8;