// $warm:#FF9900;
// $warm-light:#FF6600;
// $cold: #99cc33;
// $cold-dark: #e6eed7;
// 配色网址 http://tool.c7sky.com/webcolor/#character_1
$warm:#CC6699;
$warm-light:rgb(243, 205, 232);
$cold: #66CC99;
$cold-dark: rgb(236, 247, 241);
$bg-light: #ffffff;
$bg-dash: #eee;
$font-dark: #000;
$font-def: #999999;
$font-light: rgb(199, 195, 195);
$font-white: #ffffff;
$margin: 15px;
$margin-v: 10px;
$margin-h: 10px;
$border: #e8e8e8;