html,body{
  min-width: 100%;
  min-height: 100%;
}
#root,.App{
  width: 100%;
  height: 100%;
}
/**修改ant样式**/
.ant-page-header {
  padding: 0!important;
}
.ant-page-header-back-button {
  vertical-align: text-bottom;
}