.module-wrapper .infoFlow {
  width: 100%;
  height: auto; }
  .module-wrapper .infoFlow .nav-box {
    width: 100px;
    height: 300px;
    padding: 10px 7px;
    position: absolute;
    left: -120px;
    top: 0;
    border-radius: 5px;
    border: 1px solid #eee; }
    .module-wrapper .infoFlow .nav-box ul {
      width: 100%;
      height: auto; }
      .module-wrapper .infoFlow .nav-box ul li {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 5px; }
        .module-wrapper .infoFlow .nav-box ul li a {
          text-decoration: none;
          color: #5f5b5b; }
      .module-wrapper .infoFlow .nav-box ul .active {
        background: #f0baee; }
        .module-wrapper .infoFlow .nav-box ul .active a {
          color: #ffffff; }
      .module-wrapper .infoFlow .nav-box ul :hover {
        background: #efd1ee; }
  .module-wrapper .infoFlow .s-left {
    float: left; }
  .module-wrapper .infoFlow .s-right {
    float: right; }
  .module-wrapper .infoFlow ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0; }
    .module-wrapper .infoFlow ul li {
      display: list-item;
      text-align: -webkit-match-parent; }
      .module-wrapper .infoFlow ul li a {
        cursor: pointer; }
      .module-wrapper .infoFlow ul li .tab-box {
        width: 100%;
        height: 40px;
        padding: 7px 10px;
        border: 1px solid #e8e8e8; }
        .module-wrapper .infoFlow ul li .tab-box a {
          text-decoration: none;
          color: #999999; }
        .module-wrapper .infoFlow ul li .tab-box .tab-item {
          display: inline-block;
          height: 26px;
          line-height: 26px;
          padding: 0 10px;
          border-radius: 5px;
          min-width: 60px;
          text-align: center;
          margin-right: 5px; }
        .module-wrapper .infoFlow ul li .tab-box .active {
          background: #f0baee;
          color: #ffffff; }
        .module-wrapper .infoFlow ul li .tab-box :hover {
          background: #efd1ee; }
        .module-wrapper .infoFlow ul li .tab-box .tab-item:last-child {
          border-right: none; }
      .module-wrapper .infoFlow ul li .single-cover {
        height: 123px;
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8; }
        .module-wrapper .infoFlow ul li .single-cover .single-cover-left {
          width: 158px;
          height: 102px;
          margin-right: 16px;
          position: relative; }
          .module-wrapper .infoFlow ul li .single-cover .single-cover-left .img-cover {
            cursor: pointer;
            width: 100%;
            text-align: center;
            border: 1px solid #e8e8e8;
            background: #e8e8e8;
            overflow: hidden;
            transform-style: preserve-3d;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block; }
            .module-wrapper .infoFlow ul li .single-cover .single-cover-left .img-cover img {
              display: inline-block;
              max-width: 100%;
              height: auto;
              vertical-align: middle;
              transition: all .5s ease-out .1s; }
            .module-wrapper .infoFlow ul li .single-cover .single-cover-left .img-cover img:hover {
              transform: scale(1.4); }
          .module-wrapper .infoFlow ul li .single-cover .single-cover-left .img-cover:before {
            content: "";
            width: 0;
            font-size: 0;
            visibility: hidden;
            vertical-align: middle; }
        .module-wrapper .infoFlow ul li .single-cover .single-cover-right {
          height: 100%;
          overflow: hidden; }
          .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner {
            display: inline-block;
            width: 100%;
            vertical-align: middle; }
            .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .title-box {
              display: block;
              font-size: 20px;
              line-height: 1.3;
              margin-bottom: 4px;
              font-weight: 700;
              max-height: 52px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis; }
              .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .title-box a {
                color: #000;
                text-decoration: none; }
              .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .title-box a:hover {
                color: #f0baee; }
            .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box {
              font-size: 12px;
              color: #999999;
              margin-top: 10px; }
              .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box .footer-box-left {
                display: inline-block;
                vertical-align: middle;
                line-height: 20px; }
                .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box .footer-box-left a {
                  cursor: pointer; }
                .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box .footer-box-left .footer-box-action {
                  font-size: 12px;
                  color: #c7c3c3;
                  margin-right: 10px;
                  padding: 1px 2px; }
                .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box .footer-box-left .tag {
                  border: 1px solid #e8e8e8; }
                .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box .footer-box-left .c-tag {
                  border-color: #f0baee;
                  color: #f0baee; }
                .module-wrapper .infoFlow ul li .single-cover .single-cover-right .single-cover-right-inner .footer-box .footer-box-left .p-tag {
                  border-color: #b5edb3;
                  color: #b5edb3; }
        .module-wrapper .infoFlow ul li .single-cover .single-cover-right:before {
          content: "";
          width: 0;
          font-size: 0;
          height: auto;
          visibility: hidden;
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box; }
      .module-wrapper .infoFlow ul li .no-cover {
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8; }
        .module-wrapper .infoFlow ul li .no-cover .title-box {
          display: block;
          font-size: 20px;
          line-height: 1.3;
          margin-bottom: 4px;
          font-weight: 700;
          max-height: 52px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis; }
          .module-wrapper .infoFlow ul li .no-cover .title-box a {
            color: #000;
            text-decoration: none; }
          .module-wrapper .infoFlow ul li .no-cover .title-box a:hover {
            color: #f0baee; }
        .module-wrapper .infoFlow ul li .no-cover .footer-box {
          font-size: 12px;
          color: #999999;
          margin-top: 10px;
          overflow: hidden; }
          .module-wrapper .infoFlow ul li .no-cover .footer-box .footer-box-left {
            display: inline-block;
            vertical-align: middle;
            line-height: 20px; }
            .module-wrapper .infoFlow ul li .no-cover .footer-box .footer-box-left a {
              cursor: pointer; }
            .module-wrapper .infoFlow ul li .no-cover .footer-box .footer-box-left .footer-box-action {
              font-size: 12px;
              color: #c7c3c3;
              margin-right: 10px;
              padding: 1px 2px; }
            .module-wrapper .infoFlow ul li .no-cover .footer-box .footer-box-left .tag {
              border: 1px solid #e8e8e8; }
            .module-wrapper .infoFlow ul li .no-cover .footer-box .footer-box-left .c-tag {
              border-color: #f0baee;
              color: #f0baee; }
            .module-wrapper .infoFlow ul li .no-cover .footer-box .footer-box-left .p-tag {
              border-color: #b5edb3;
              color: #b5edb3; }
      .module-wrapper .infoFlow ul li .load-more {
        height: 35px;
        width: 100%;
        background: #b5edb3;
        margin-top: 10px;
        border: 1px solid #589256;
        text-align: center;
        line-height: 35px;
        color: #589256;
        font-size: 14px;
        cursor: pointer; }
      .module-wrapper .infoFlow ul li .no-more {
        height: 35px;
        width: 100%;
        background: #eee;
        margin-top: 10px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 35px;
        color: #999999;
        font-size: 14px;
        cursor: pointer; }
