@import '../global.scss';
.module-wrapper {
  .infoFlow {
    width: 100%;
    height: auto;
    .nav-box {
      width: 100px;
      height: 300px;
      padding: 10px 7px;
      position: absolute;
      left: -120px;
      top: 0;
      border-radius: 5px;
      border: 1px solid #eee;
      ul {
        width: 100%;
        height: auto;
        li {
          display: block;
          width: 100%;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 5px;
          margin-bottom: 5px;
          a {
            text-decoration: none;
            color: rgb(95, 91, 91);
          }
        }
        .active {
          background: $warm;
          a {
            color: $font-white;
          }
        }
        :hover {
          background: $warm-light;
        }
      }
    }
    .s-left {
      float: left;
    }
    .s-right {
      float: right;
    }
    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
      li {
        display: list-item;
        text-align: -webkit-match-parent;
        a {
          cursor: pointer;
        }
        .tab-box {
          width: 100%;
          height: 40px;
          padding: 7px 10px;
          border: 1px solid $border;
          a {
            text-decoration: none;
            color: $font-def;
          }
          .tab-item {
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            border-radius: 5px;
            min-width: 60px;
            text-align: center;
            margin-right: 5px;
          }
          .active {
            background: $warm;
            color: $font-white;
          }
          :hover {
            background: $warm-light;
          }
          .tab-item:last-child{
            border-right: none;
          }
        }
        .single-cover { // 单封面模板
          height: 123px;
          position: relative;
          padding: 10px 0;
          border-bottom: 1px solid $border;
          .single-cover-left {
            width: 158px;
            height: 102px;
            margin-right: 16px;
            position: relative;
            .img-cover {
              cursor: pointer;
              width: 100%;
              text-align: center;
              border: 1px solid $border;
              background: $border;
              overflow: hidden;
              transform-style: preserve-3d;
              position:absolute;
              top:50%;
              left:50%;
              transform: translate(-50%,-50%);
              display: inline-block;
              img {
                display: inline-block;
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                transition: all .5s ease-out .1s;
              }
              img:hover {
                transform:scale(1.4);
              }
            }
            .img-cover:before {
              content: "";
              width: 0;
              font-size: 0;
              visibility: hidden;
              vertical-align: middle;
            }
          }
          .single-cover-right {
            height: 100%;
            overflow: hidden;
            .single-cover-right-inner {
              display: inline-block;
              width: 100%;
              vertical-align: middle;
              .title-box {
                display: block;
                font-size: 20px;
                line-height: 1.3;
                margin-bottom: 4px;
                font-weight: 700;
                max-height: 52px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                a{
                  color: $font-dark;
                  text-decoration: none;
                }
                a:hover {
                  color: $warm;
                }
              }
              .footer-box {
                font-size: 12px;
                color: $font-def;
                margin-top: 10px;
                .footer-box-left {
                  display: inline-block;
                  vertical-align: middle;
                  line-height: 20px;
                  a {
                    cursor: pointer;
                  }
                  .footer-box-action {
                    font-size: 12px;
                    color: $font-light;
                    margin-right: 10px;
                    padding: 1px 2px;
                  }
                  .tag {
                    border: 1px solid $border;
                  }
                  .c-tag {
                    border-color: $warm;
                    color: $warm;
                  }
                  .p-tag {
                    border-color: $cold;
                    color: $cold;
                  }
                }
              }
            }
          }
          .single-cover-right:before {
            content: "";
            width: 0;
            font-size: 0;
            height: auto;
            visibility: hidden;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
          }
        }
        .no-cover {
          position: relative;
          padding: 10px 0;
          border-bottom: 1px solid $border;
          .title-box {
            display: block;
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 4px;
            font-weight: 700;
            max-height: 52px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
              color: $font-dark;
              text-decoration: none;
            }
            a:hover {
              color: $warm;
            }
          }
          .footer-box {
            font-size: 12px;
            color: $font-def;
            margin-top: 10px;
            overflow: hidden;
            .footer-box-left {
              display: inline-block;
              vertical-align: middle;
              line-height: 20px;
              a {
                cursor: pointer;
              }
              .footer-box-action {
                font-size: 12px;
                color: $font-light;
                margin-right: 10px;
                padding: 1px 2px;
              }
              .tag {
                border: 1px solid $border;
              }
              .c-tag {
                border-color: $warm;
                color: $warm;
              }
              .p-tag {
                border-color: $cold;
                color: $cold;
              }
            }
          }
        }
        .load-more {
          height: 35px;
          width: 100%;
          background: $cold;
          margin-top: 10px;
          border: 1px solid $cold-dark;
          text-align: center;
          line-height: 35px;
          color: $cold-dark;
          font-size: 14px;
          cursor: pointer;
        }
        .no-more {
          height: 35px;
          width: 100%;
          background: $bg-dash;
          margin-top: 10px;
          border: 1px solid $border;
          text-align: center;
          line-height: 35px;
          color: $font-def;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}