.module-wrapper .text-list {
  width: 100%;
  height: auto; }
  .module-wrapper .text-list ul {
    display: block;
    padding: 10px;
    padding-top: 0; }
    .module-wrapper .text-list ul li {
      display: block;
      height: 30px;
      width: 100%;
      background: #f3cde8;
      border-radius: 5px;
      margin-bottom: 10px;
      line-height: 30px; }
      .module-wrapper .text-list ul li :last-child {
        margin-bottom: 0; }
